name: lint

on: [push]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v5
        with:
          go-version: 1.25.4
      - uses: golangci/golangci-lint-action@v9
        with:
          version: v2.6
